In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv(r"C:\Users\USER\Downloads\t2.csv", encoding='latin-1')
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [3]:
df.dtypes

Name         object
Year         object
Duration     object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [4]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [5]:
df.drop_duplicates()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [6]:
df.drop(["Actor 2","Actor 3"],axis=1,inplace=True)

In [7]:
df["Year"]=df["Year"].str.lstrip("(")
df["Year"]=df["Year"].str.rstrip(")")
df["Year"]=df["Year"].astype("float")

In [8]:
df["Duration"]=df["Duration"].str.rstrip(" min")
df["Duration"]=df["Duration"].astype("float")

In [9]:
df["Duration"]=df["Duration"].fillna(df["Duration"].mean())

In [10]:
df.dropna(subset=['Year'], inplace=True)

In [11]:
df["Votes"] = df["Votes"].str.replace(',', '.')
df["Votes"] = df["Votes"].str.replace('M', '')
df["Votes"] = df["Votes"].str.replace('$', '').astype(float)
df["Votes"]=df["Votes"].fillna(df["Votes"].mean())

In [12]:
df3 = df[df['Rating'].isnull()]
df3

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1
2,#Homecoming,2021.0,90.000000,"Drama, Musical",NaN,101.745208,Soumyajit Majumdar,Sayani Gupta
4,...And Once Again,2010.0,105.000000,Drama,NaN,101.745208,Amol Palekar,Rajat Kapoor
7,.in for Motion,2008.0,59.000000,Documentary,NaN,101.745208,Anirban Datta,NaN
14,101 Ratein,1990.0,128.126519,Thriller,NaN,101.745208,Harish,Saraswati
17,108 Teerthyatra,1987.0,128.126519,"Comedy, Drama, Fantasy",NaN,101.745208,Rajpati,Pravin Anand
...,...,...,...,...,...,...,...,...
15499,Zulm Ka Jawab,1995.0,128.126519,Action,NaN,101.745208,Surinder Kapoor,Goga Kapoor
15500,Zulm Ka Muqabla,1993.0,128.126519,Action,NaN,101.745208,Babu Antony,Nandamuri Balakrishna
15502,Zulm Ki Pukar,1979.0,128.126519,Action,NaN,101.745208,Dinesh-Ramanesh,Ramesh Puri
15506,Zulmi Raj,2005.0,128.126519,Action,NaN,101.745208,Kiran Thej,Sangeeta Tiwari
15507,Zulmi Shikari,1988.0,128.126519,Action,NaN,101.745208,NaN,NaN

In [13]:
df2=df.dropna(subset=['Rating'],axis=0)
df2

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1
1,#Gadhvi (He thought he was Gandhi),2019.0,109.000000,Drama,7.0,8.000,Gaurav Bakshi,Rasika Dugal
3,#Yaaram,2019.0,110.000000,"Comedy, Romance",4.4,35.000,Ovais Khan,Prateik
5,...Aur Pyaar Ho Gaya,1997.0,147.000000,"Comedy, Drama, Musical",4.7,827.000,Rahul Rawail,Bobby Deol
6,...Yahaan,2005.0,142.000000,"Drama, Romance, War",7.4,1.086,Shoojit Sircar,Jimmy Sheirgill
8,?: A Question Mark,2012.0,82.000000,"Horror, Mystery, Thriller",5.6,326.000,Allyson Patel,Yash Dave
...,...,...,...,...,...,...,...,...
15501,Zulm Ki Hukumat,1992.0,128.126519,"Action, Crime, Drama",5.3,135.000,Bharat Rangachary,Dharmendra
15503,Zulm Ki Zanjeer,1989.0,125.000000,"Action, Crime, Drama",5.8,44.000,S.P. Muthuraman,Chiranjeevi
15504,Zulm Ko Jala Doonga,1988.0,128.126519,Action,4.6,11.000,Mahendra Shah,Naseeruddin Shah
15505,Zulmi,1999.0,129.000000,"Action, Drama",4.5,655.000,Kuku Kohli,Akshay Kumar
15508,Zulm-O-Sitam,1998.0,130.000000,"Action, Drama",6.2,20.000,K.C. Bokadia,Dharmendra

In [16]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [23]:
x=df2[["Year","Duration","Votes"]]
y=df2["Rating"]
#scaler = StandardScaler()
#x = scaler.fit_transform(x)
#x3=scaler.fit_transform(df3[["Year","Duration","Votes"]])
poly_features = PolynomialFeatures(degree=2, include_bias=False)
x_poly = poly_features.fit_transform(x)
x3_poly = poly_features.transform(df3[["Year","Duration","Votes"]])
poly_reg = LinearRegression()
poly_reg.fit(x_poly, y)
y_pred = poly_reg.predict(x3_poly)

In [24]:
y_pred

array([6.19473946, 5.75267125, 6.6395944 , ..., 5.78453483, 5.50473545,
       5.62340835])

In [25]:
df3["Rating"]=y_pred

C:\Users\USER\AppData\Local\Temp\ipykernel_5692\2987795069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Rating"]=y_pred

In [26]:
df3

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1
2,#Homecoming,2021.0,90.000000,"Drama, Musical",6.194739,101.745208,Soumyajit Majumdar,Sayani Gupta
4,...And Once Again,2010.0,105.000000,Drama,5.752671,101.745208,Amol Palekar,Rajat Kapoor
7,.in for Motion,2008.0,59.000000,Documentary,6.639594,101.745208,Anirban Datta,NaN
14,101 Ratein,1990.0,128.126519,Thriller,5.596844,101.745208,Harish,Saraswati
17,108 Teerthyatra,1987.0,128.126519,"Comedy, Drama, Fantasy",5.637951,101.745208,Rajpati,Pravin Anand
...,...,...,...,...,...,...,...,...
15499,Zulm Ka Jawab,1995.0,128.126519,Action,5.545137,101.745208,Surinder Kapoor,Goga Kapoor
15500,Zulm Ka Muqabla,1993.0,128.126519,Action,5.563300,101.745208,Babu Antony,Nandamuri Balakrishna
15502,Zulm Ki Pukar,1979.0,128.126519,Action,5.784535,101.745208,Dinesh-Ramanesh,Ramesh Puri
15506,Zulmi Raj,2005.0,128.126519,Action,5.504735,101.745208,Kiran Thej,Sangeeta Tiwari
15507,Zulmi Shikari,1988.0,128.126519,Action,5.623408,101.745208,NaN,NaN

In [27]:
df= pd.concat([df2, df3], axis=0)

df.reset_index(drop=True, inplace=True)

In [28]:
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1
0,#Gadhvi (He thought he was Gandhi),2019.0,109.000000,Drama,7.000000,8.000000,Gaurav Bakshi,Rasika Dugal
1,#Yaaram,2019.0,110.000000,"Comedy, Romance",4.400000,35.000000,Ovais Khan,Prateik
2,...Aur Pyaar Ho Gaya,1997.0,147.000000,"Comedy, Drama, Musical",4.700000,827.000000,Rahul Rawail,Bobby Deol
3,...Yahaan,2005.0,142.000000,"Drama, Romance, War",7.400000,1.086000,Shoojit Sircar,Jimmy Sheirgill
4,?: A Question Mark,2012.0,82.000000,"Horror, Mystery, Thriller",5.600000,326.000000,Allyson Patel,Yash Dave
...,...,...,...,...,...,...,...,...
14976,Zulm Ka Jawab,1995.0,128.126519,Action,5.545137,101.745208,Surinder Kapoor,Goga Kapoor
14977,Zulm Ka Muqabla,1993.0,128.126519,Action,5.563300,101.745208,Babu Antony,Nandamuri Balakrishna
14978,Zulm Ki Pukar,1979.0,128.126519,Action,5.784535,101.745208,Dinesh-Ramanesh,Ramesh Puri
14979,Zulmi Raj,2005.0,128.126519,Action,5.504735,101.745208,Kiran Thej,Sangeeta Tiwari
14980,Zulmi Shikari,1988.0,128.126519,Action,5.623408,101.745208,NaN,NaN

In [30]:
from sklearn.model_selection import train_test_split

In [73]:
x=df[["Year","Duration","Votes"]]
y=df["Rating"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
poly_features = PolynomialFeatures(degree=9, include_bias=False)
x_train_poly = poly_features.fit_transform(x_train)
x_test_poly = poly_features.transform(x_test)
poly_reg = LinearRegression()
poly_reg.fit(x_train_poly, y_train)
y_pred = poly_reg.predict(x_test_poly)

In [74]:
from sklearn.metrics import mean_squared_error, r2_score

In [75]:
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

Mean Squared Error: 0.9041487807106461
R-squared: 0.2902186411854951