In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler

In [156]:
df=pd.read_csv(r"C:\Users\USER\Downloads\aaaaaa.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [157]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [158]:
df.drop(["Name","Ticket","PassengerId"],axis=1,inplace=True)

In [159]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  34.5      0      0    7.8292   NaN        Q
1           1       3  female  47.0      1      0    7.0000   NaN        S
2           0       2    male  62.0      0      0    9.6875   NaN        Q
3           0       3    male  27.0      0      0    8.6625   NaN        S
4           1       3  female  22.0      1      1   12.2875   NaN        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
413         0       3    male   NaN      0      0    8.0500   NaN        S
414         1       1  female  39.0      0      0  108.9000  C105        C
415         0       3    male  38.5      0      0    7.2500   NaN        S
416         0       3    male   NaN      0      0    8.0500   NaN        S
417         0       3    male   NaN      1      1   22.3583   NaN        C

[418 rows x 9 columns]

In [160]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age          86
SibSp         0
Parch         0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [161]:
a=df["Age"].mean(axis=0)
df["Age"].replace(np.NaN,a,inplace=True)

In [162]:
a=df["Fare"].mean(axis=0)
df["Fare"].replace(np.NaN,a,inplace=True)

In [163]:
df

     Survived  Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  34.50000      0      0    7.8292   NaN        Q
1           1       3  female  47.00000      1      0    7.0000   NaN        S
2           0       2    male  62.00000      0      0    9.6875   NaN        Q
3           0       3    male  27.00000      0      0    8.6625   NaN        S
4           1       3  female  22.00000      1      1   12.2875   NaN        S
..        ...     ...     ...       ...    ...    ...       ...   ...      ...
413         0       3    male  30.27259      0      0    8.0500   NaN        S
414         1       1  female  39.00000      0      0  108.9000  C105        C
415         0       3    male  38.50000      0      0    7.2500   NaN        S
416         0       3    male  30.27259      0      0    8.0500   NaN        S
417         0       3    male  30.27259      1      1   22.3583   NaN        C

[418 rows x 9 columns]

In [164]:
df["Cabin"].unique()

array([nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116',
       'F', 'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22',
       'B10', 'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64',
       'A11', 'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89',
       'F E46', 'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78',
       'F E57', 'F2', 'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60',
       'E50', 'E39 E41', 'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7',
       'D40', 'D38', 'C105'], dtype=object)

In [165]:
df.drop(["Cabin"],axis=1,inplace=True)

In [166]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [167]:
df["Embarked"].unique()

array(['Q', 'S', 'C'], dtype=object)

In [168]:
df['Embarked'] = df['Embarked'].replace('Q', '1')
df['Embarked'] = df['Embarked'].replace('S', '2')
df['Embarked'] = df['Embarked'].replace('C', '3')

In [169]:
df['Sex'] = df['Sex'].replace('male', '1')
df['Sex'] = df['Sex'].replace('female', '0')

In [170]:
df['Sex']=df['Sex'].astype("float")
df['Embarked']=df['Embarked'].astype("float")
df['Pclass']=df['Pclass'].astype("float")
df['SibSp']=df['SibSp'].astype("float")
df['Parch']=df['Parch'].astype("float")

In [171]:
df.dtypes

Survived      int64
Pclass      float64
Sex         float64
Age         float64
SibSp       float64
Parch       float64
Fare        float64
Embarked    float64
dtype: object

In [172]:
df

     Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0           0     3.0  1.0  34.50000    0.0    0.0    7.8292       1.0
1           1     3.0  0.0  47.00000    1.0    0.0    7.0000       2.0
2           0     2.0  1.0  62.00000    0.0    0.0    9.6875       1.0
3           0     3.0  1.0  27.00000    0.0    0.0    8.6625       2.0
4           1     3.0  0.0  22.00000    1.0    1.0   12.2875       2.0
..        ...     ...  ...       ...    ...    ...       ...       ...
413         0     3.0  1.0  30.27259    0.0    0.0    8.0500       2.0
414         1     1.0  0.0  39.00000    0.0    0.0  108.9000       3.0
415         0     3.0  1.0  38.50000    0.0    0.0    7.2500       2.0
416         0     3.0  1.0  30.27259    0.0    0.0    8.0500       2.0
417         0     3.0  1.0  30.27259    1.0    1.0   22.3583       3.0

[418 rows x 8 columns]

In [173]:
from sklearn.model_selection import train_test_split

In [174]:
x = df.drop(columns=['Survived',"SibSp","Parch"])  
y = df['Survived']
scaler = StandardScaler()
x = scaler.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [175]:
print(sum(y_train==1))
sum(y_train==0)          # we see that the survived peaple and not suevived are not equale

126

208

In [176]:
ros= RandomOverSampler()
x_train,y_train= ros.fit_resample(x_train,y_train)

In [177]:
print(sum(y_train==1))
sum(y_train==0)        # the probleme is fixed

208

208

# Naive_Bayes

In [178]:
from sklearn.metrics import classification_report

In [179]:
from sklearn.naive_bayes import GaussianNB
nb_model=GaussianNB()
nb_model=nb_model.fit(x_train,y_train)
y_pred = nb_model.predict(x_test)

In [180]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [181]:
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [182]:
y_test

245    0
300    0
145    0
330    1
328    0
      ..
172    0
115    0
71     0
54     0
182    1
Name: Survived, Length: 84, dtype: int64

# Logistique Regression

In [183]:
from sklearn.linear_model import LogisticRegression

In [184]:
lg_model=LogisticRegression()
lg_model=lg_model.fit(x_train,y_train)
y_pred = lg_model.predict(x_test)

In [185]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

# KNN

In [186]:
from sklearn.neighbors import KNeighborsClassifier

In [187]:
knn_model = KNeighborsClassifier(n_neighbors=6)

In [188]:
knn_model.fit(x_train,y_train)
y_pred = knn_model.predict(x_test)

In [189]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

# xgBoost

In [190]:
#pip install xgboost

In [191]:
import xgboost as xgb
model = xgb.XGBClassifier()
model.fit(x_train, y_train)
# Make predictions on the test set
y_pred = model.predict(x_test)
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

# DECISION TREE

In [192]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [193]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [194]:
y_pred = model.predict(x_test)
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [195]:
model.score(x_test,y_test)

1.0